
 main {color: blueviolet;
font-size: 15px ;}
.dias {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 5em;
    color: crimson;
}
.parrafo {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.horarios {
    font-family: 'Times New Roman', Times, serif ;
    font-style: italic ;
    font-size: 40px;
}
.inicio {
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-align: center;
     width: 100%;
    height: 100%;
    
    border: 5px rgba(6, 126, 50, 0.529) solid;
  }
  .fin {
    border: 6px black dashed;
    border-radius: 15px;
    width: 100%;
    height: 100%;
  }